{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbols</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
        </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ usd(stock["price"]) }} </td>
                    <td>{{ usd(stock["shares"] * stock["price"])  }}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th scope="1">TOTAL PRICE</th>
                <th scope="1">{{ cash | usd }}</th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>{{ total | usd }}</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}
